@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  
}

h1{
    font-size:38px;
    font-weight: normal;
}
h2{
    font-size:32px;
    font-weight: normal;
}
h3{
    font-size:28px;
   
}
h1,h2,h3,h4,p{
    margin:10px 0px!important;
}